@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f9fc; /* Light blue-gray */
}

/* Header */
#Main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #f7f9fc; /* Light blue-gray */
  box-shadow: 0 15px 15px rgba(200, 200, 200, 0.5); /* Light gray shadow */
  position: sticky !important;
  top: 0;
  right: 0;
  height: 12vh;
  z-index: 1000;
}

.logo {
  color: #2c3e50; /* Dark blue-gray */
  font-size: 1.5rem;
  font-weight: 900;
}

.logo span {
  color: #f1c40f; /* Soft yellow */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #2c3e50; /* Dark blue-gray */
  transition: 0.3s ease;
}

#navbar li a:hover {
  text-decoration: 2px underline #f1c40f; /* Soft yellow */
}

#mobile {
  display: none;
}

#close {
  opacity: 0;
}

#bar.active {
  display: none;
}

#close.active {
  opacity: 1;
  color: #2c3e50; /* Dark blue-gray */
  font-size: 30px;
  padding-right: 15px;
  z-index: 15;
}

/* Navbar Responsiveness */
@media (max-width: 799px) {
  #Main-header {
    gap:30px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #f7f9fc; /* Light blue-gray */
    box-shadow: 0 40px 60px rgba(200, 200, 200, 0.5); /* Light gray shadow */
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  #mobile .i3 {
    color: #2c3e50; /* Dark blue-gray */
    font-size: 24px;
  }

  #close {
    display: initial;
    top: 30px;
    color: #2c3e50; /* Dark blue-gray */
    font-size: 24px;
  }
  #bar{
    margin-left: 90px;
  }
  .logo{
    margin-left: -50px;
  }
}

/* Hero Section */
#hero {
  height: 100vh;
  width: 100%;
  background-image: url("./Images/rishabh\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-size: 3rem;
  font-weight: 800;
  color: white; /* Dark blue-gray */
  padding-left: 50px;
}

#hero h2 {
  font-size: 5rem;
  font-weight: 800;
  color: white; /* Dark blue-gray */
  padding-left: 50px;
}

#hero h1 span {
  color: #f1c40f; /* Soft yellow */
}

#hero h2 span {
  color: #f1c40f; /* Soft yellow */
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-left: 50px;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff; /* White */
  background-color: #f39c12; /* Orange */
  box-shadow: 0 5px 15px rgba(243, 156, 18, 0.5); /* Light orange shadow */
  transition: background-color 0.3s;
}

.hero-button ion-icon {
  font-size: 1rem;
}

.hero-button:hover {
  background-color: #e67e22; /* Slightly darker orange */
}


@media (max-width: 1042px) {
  #hero {
    background-position: center left 80%; /* Adjusted for smaller screens */
  }
  #hero h1 {
    padding-top: 60px;
   
    font-size: 2rem;
  }

  #hero h2 {
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  #hero {
    background-position: center left 80%; /* Adjusted for smaller screens */
  }
  #hero h1 {
    font-size: 1.5rem;
  }

  #hero h2 {
    font-size: 2rem;
  }
}

/* About Section */
/* !! About Section */
#about-me {
  width: 90%;
  min-height: 70vh;
  background-color: #f39c12;
  margin-top: 140px;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 80px;
  box-shadow: 0 5px 15px rgba(9, 9, 9, 0.5);
  margin-left: 70px;
  gap: 5%;
}

#About-image {
  width: 250px;
  height: 250px;
  border: 3px solid #2c3e50;
  border-radius: 60px;
  box-shadow: 0 5px 15px rgba(9, 9, 9, 0.5);
}

#my-info {
  text-align: center;
  text-wrap: wrap;
  color: white; 
  font-size: 1rem;
  font-weight: 800;
  width: 40%;
  line-height: 35px;
}

/* Media Queries */
@media (max-width: 1042px) {
  #about-me {
    margin-left: 50px;
    border-radius: 40px;
  }
  #About-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 7px;
  
  }

  #my-info {
    width: 60%;
    font-size: 1rem;
    line-height: 20px;
   
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  #about-me {
    margin-left: 50px;
    border-radius: 40px;
  }
  #About-image {
    width: 250px;
    height: 250px;
    border-radius: 20px;
   
  }

  #my-info {
    width: 60%;
    font-size: 1rem;
    line-height: 2;
   
  }
}

@media (max-width: 477px) {
  #about-me {
    width: 90%;
    margin-left: 15px;
    border-radius: 80px;
  }

  #About-image {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
  }

  #my-info {
    padding-bottom: 25px;
    font-size: 1rem;
    width:90%;
  }
}

/* Experience section */ 
#ah1 {
  font-size: 3rem;
  font-weight: 800;
  color: #2c3e50; /* Dark blue-gray */
  text-align: center;
}

#experience {
  width: 90%;
  min-height: 40vh; /* Adjust height dynamically */
  background-color: #f39c12; /* Orange */
  margin: 70px auto 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(9, 9, 9, 0.5);
  padding: 20px;
  gap: 20px;
}

.my-experience {
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  width: 80%;
  line-height: 2;
}

/* Media Queries */
@media (max-width: 1042px) {
  #experience {
    height: auto;
    border-radius: 30px;
    padding: 15px;
  }
  .my-experience {
    width: 90%;
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media (max-width: 768px) {
  #experience {
    margin: 50px auto;
    padding: 10px;
    border-radius: 20px;
  }
  .my-experience {
    font-size: 0.8rem;
    line-height: 1.3;
  }
}

@media (max-width: 480px) {
  #experience {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
  }
  .my-experience {
    font-size: 0.7rem;
    line-height: 1.2;
  }
}

@media (max-width: 320px) {
  #experience {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
  }
  .my-experience {
    font-size: 0.6rem;
    line-height: 1.1;
  }
}


/* Projects Section */

#ph1 {
  font-size: 3rem;
  font-weight: 800;
  color: #2c3e50; /* Dark blue-gray */
  text-align: center;
  margin-bottom: 30px;
}

#projects-section {
  display: flex;
  flex-wrap: wrap; /* Updated for responsiveness */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between cards */
  margin-bottom: 7%;
}

.project-container {
  width: 300px;
  border-radius: 40px;
  background-color: #f39c12; /* Orange */
  margin-bottom: 3%;
  box-shadow: 0 5px 15px rgba(13, 13, 13, 0.5); /* Light gray shadow */
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom out effect */
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 40px 40px 0 0;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  width: 100%;
  color: #ffffff; /* White */
  font-size: larger;
  font-weight: 500;
  line-height: 22px;
}

.project-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Zoom out effect on hover */
.project-container:hover {
  transform: scale(1.05); /* Scale up by 5% */
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.7); /* Stronger shadow on hover */
}

/* Responsive design */
@media (max-width: 1042px) {
  #projects-section {
    flex-direction: row;
     gap: 40px; /* Space between cards */
  }
}
@media (max-width: 420px) {
  #ph1{
    margin-top: 70px;
  }
}


/* Other Projects Section */
#oh1 {
  font-size: 3rem;
  font-weight: 800;
  color: #2c3e50; /* Dark blue-gray */
  text-align: center;
  margin-bottom: 20px;
}

#other-projects {
  width: 100%;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  max-height: 400px; /* Adjust this height as needed */
  overflow-y: auto;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#other-projects-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

#other-projects-table th, #other-projects-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

#other-projects-table th {
  background-color: #f39c12; /* Orange */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

#other-projects-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#other-projects-table tr:hover {
  background-color: #ddd;
}

#other-projects-table a {
  color: #f39c12; /* Orange */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#other-projects-table ion-icon {
  font-size: 24px;
}
@media (max-width: 1024px) {
  #oh1 { 
    margin-top: 50px;

  }

}

@media (max-width: 420px) {
  #oh1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #2c3e50; /* Dark blue-gray */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
  }
 
  #other-projects-table {
   
    width: 100%;
  }
  
}


/* Skills Section */
#sh1 {
  font-size: 3rem;
  font-weight: 800;
  color: #2c3e50; /* Dark blue-gray */
  text-align: center;
  margin-top: 125px;
}

#skills-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  
}

.skill-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:30%;
  height: 100px;
  margin: 10px;
  padding: 15px;
  background-color: #f39c12; /* Light pastel blue */
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(200, 200, 200, 0.5); /* Light gray shadow */
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom out effect */
}

.skill-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.skill-description {
  font-size: 14px;
  color: white; /* Dark blue-gray */
  font-weight: 600;
}
/* Zoom out effect on hover */
.skill-container:hover {
  transform: scale(1.05); /* Scale up by 5% */
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.7); /* Stronger shadow on hover */
}
@media (max-width: 1024px) {
  .skill-container {
    width: 45%; /* Adjust to fit 2 items per row on medium screens */
  }
}

@media (max-width: 600px) {
  .skill-container {
    width: 90%; /* Adjust to fit 1 item per row on small screens */
  }
  #sh1{
    margin-top: 70px;
  }
}
/* Footer */
#fh1 {
  font-size: 3rem;
  font-weight: 800;
  color: #2c3e50; /* Dark blue-gray */
  text-align: center;
  margin-bottom: 15px;
}

#footer {
  width: 100%;
  height: 30vh;
  background-color: #f7f9fc; /* Light blue-gray */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(9, 9, 9, 0.5); 
  margin-top: 100px;
}

#social-media {
  color: #2c3e50; /* Dark blue-gray */
  font-size: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  
}

#social-media a {
  text-decoration: none;
  color: #f1c40f; /* Soft yellow */
  margin-left: 30px;
}
#copyright{
  font-size: 15px;
  color: #2c3e50; /* Dark blue-gray */
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}

@media (max-width: 477px) {
  #social-media {
    font-size: 25px;
  }
  #social-media a {
    margin-left: 10px;
  }
  #copyright{
    font-size: 15px;
  }
}